@font-face {
  font-family: "Akzidenz-Grotesk";
  src: url("/fonts/akzidenz/AkzidenzGroteskBE-Super.otf") format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Univers";
  src: url("/fonts/univers/UniversBold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Univers";
  src: url("/fonts/univers/UniversRegular.otf") format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}