@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-breadDisplay: var(--font-breadDisplay), ui-sans-serif, system-ui,
    sans-serif;
  --font-breadBody: var(--font-breadBody), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-roboto);

  /* Custom Colors */
  --color-primary-orange: #ea6023;
  --color-orange-0: #ffc080;
  --color-orange-1: #d14a0f;
  --color-orange-2: #b83c08;
  --color-primary-jade: #286b63;
  --color-jade-0: #9cacc6;
  --color-jade-1: #72849d;
  --color-jade-2: #134a44;
  --color-primary-blue: #1c5bb9;
  --color-blue-0: #a8c3ea;
  --color-blue-1: #588ddb;
  --color-blue-2: #1b4a90;
  --color-paper-main: #f6f3eb;
  --color-paper-0: #fdfcf9;
  --color-paper-1: #f0ebe0;
  --color-paper-2: #eae2d6;
  --color-surface-ink: #1b201a;
  --color-surface-grey: #808080;
  --color-surface-grey-2: #595959;
  --color-surface-brown: #513c35;
  --color-surface-brown-1: #301f18;
  --color-system-green: #32a800;
  --color-system-red: #df0b00;
  --color-system-warning: #ce7f00;
  --color-text-standard: #171414;

  /* Custom Fonts */
  --font-roboto: var(--font-roboto);
  --font-breadDisplay: var(--font-breadDisplay);
  --font-breadBody: var(--font-breadBody);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .text-h1 {
    @apply font-breadDisplay font-[900] text-[3rem] leading-[36px] md:text-[96px] md:leading-[76px] xl:text-[7rem] xl:leading-[83px] tracking-tight uppercase;
  }
  .text-h2 {
    @apply font-breadDisplay font-[900] text-[3rem] xl:text-[80px] leading-[36px] xl:leading-[63px] tracking-tighter;
  }
  .text-h3 {
    @apply font-breadDisplay font-[900] text-[1.5rem] leading-[20px] md:text-[2.5rem] md:leading-[36px] xl:text-[3rem] xl:leading-[48px] tracking-tight;
  }
  .text-h4 {
    @apply font-breadBody font-[700] text-[24px] xl:text-[2rem] leading-[24px] xl:leading-[2rem];
  }
  .text-h5 {
    @apply font-breadBody font-[400] text-[1rem] xl:text-[1.5rem] xl:leading-[24px];
  }
  .text-body {
    @apply font-breadBody text-base;
  }

  .text-breadDisplay-bold {
    @apply font-breadDisplay font-[700] text-base;
  }
  .text-breadDisplay {
    @apply font-breadDisplay font-[500] text-base;
  }
  .text-body-bold {
    @apply font-breadBody text-base font-[700];
  }
  .text-caption {
    @apply font-breadBody text-[0.7rem];
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
